# Build files
build/
*.o
*.exe
*.app
*.dSYM/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~
*.vcxproj*
*.sln

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.temp
*.log

# Raylib specific
*.so
*.dll
*.dylib

# Asset working files
*.psd
*.xcf
*.blend1
*.blend2

#Setup
init_project.fish
setup/